Gemfile.lock
db/*.db
coverage
.bundle
.rbenv-version
bin/autospec
bin/cdiff
bin/cucumber
bin/decolor
bin/erubis
bin/feedbag
bin/htmldiff
bin/jeweler
bin/ldiff
bin/mocksmtpd
bin/rackup
bin/rcov
bin/rdoc
bin/ri
bin/rspec
bin/rake
bin/sow
bin/tilt
bin/tt
pkg/
vendor/gems/
vendor/bundle/
